footer {
    display: flex;
    justify-content: space-between;
    height: 20vh;
}
h4 {
        color: navajowhite;
        font-size: 2em;
        margin: 0;
}
h6 {
        color: navajowhite;
        font-size: 2em;
        margin: 0;
}
