header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 100%;
    @media #{$mobile}{
    flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
h1 {
    color: navajowhite;
    font-size: 3em;
        @media #{$mobile}{
        font-size: 2em;
    }
}
#tech {
    display: flex;
}
.icons {
    height: 10vh;
    width: 10vh;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
       @media #{$mobile}{
        height: 6vh;
         width: 6vh;
    }
    &:first-of-type {
        background-image: url('http://marcingladkowski.pl//images/HTML5.svg');
    }
    &:nth-of-type(2) {
        background-image: url('http://marcingladkowski.pl//images/CSS3.svg');
    }
    &:nth-of-type(3) {
        background-image: url('http://marcingladkowski.pl//images/js.svg');
    }
    &:nth-of-type(4) {
        background-image: url('http://marcingladkowski.pl//images/jquery.svg');
    }
    &:nth-of-type(5) {
        background-image: url('http://marcingladkowski.pl//images/sass.svg');
    }
    &:nth-of-type(6) {
        background-image: url('http://marcingladkowski.pl//images/rwd.svg');
    }
}